<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
      <div class="form-row">
        Registro de instrumento
      </div>
      <form class="form" #fomularioInstrumento="ngForm" (ngSubmit)="crearInstrumento(fomularioInstrumento)">
        <div class="form-group">
          <label for="nombreId">Nombre</label>
          <input type="text" class="form-control" id="nombreId" name="nombre" [(ngModel)]="nombreModelo" required
          >
        </div>
        <div class="form-group">
          <label for="precioId">Precio</label>
          <input type="text" class="form-control" id="precioId" name="precio" [(ngModel)]="precioModelo" required>
        </div>
        <div class="form-group">
          <label for="materialId">Es madera</label>
          <select name="material" id="materialId" [(ngModel)]="materialModelo" required>
            <option value="true" >Si</option>
            <option value="false">No</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tipoId">Tipo de Instrumento</label>
            <select name="tipo" id="tipoId" [(ngModel)]="tipoModelo" required>
              <option *ngFor="let tipoIns of tipoInstrumento" value="{{tipoIns.id}}">{{tipoIns.nombreTipoInstrumento}}</option>
            </select>
        </div>
        <div class="form-group text-center">
          <button class="btn btn-success col-md-4 mr-3 d-inline-block" type="submit" [disabled]="!fomularioInstrumento.form.valid" >
            {{nombreInput ? 'Editar' : 'Crear' }}</button>
          <button class="btn btn-primary col-md-4 mr-3 d-inline-block" type="reset">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>

