<h1>Lista de peliculas</h1>
<!-- Directivas -NGFOR -->
<P *ngFor="let numero of arregloNumeros">
  {{numero}}
</P>

<!-- Directivas - NGIF-->
<p *ngIf="false">
  OCULTO
</p>

<div *ngFor="let pelicula of arregloPeliculas">
  <app-carta-pelicula
    [urlImage]="pelicula.url"
    [descripcion]="pelicula.descripcion"
    [nombreBoton]="pelicula.nombrePelicula"
    (eventoDioClicEnBoton)="mensajeConsola($event)"
    (eventoDioClicEnImagen)="mensajeConsola($event)"
  >

  </app-carta-pelicula>
</div>


