<div class="container-fluid">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cedula</th>
        <th>Acciones</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>usuario.id</td>
        <td>usuario.nombre</td>
        <td>usuario.cedula</td>
        <td>
          <button class="btn btn-info">Editar</button>
        </td>
        <td>
          <button class="btn btn-danger">Eliminar</button>
        </td>

      </tr>
    </tbody>

  </table>


</div>
